/* general */
.hidden{
  display:none
}


/* Layout */
.cat-wrap .section{
  vertical-align: top;
  display:inline-block;
  padding:1%;
}

.cat-wrap .cat-controls{
  width:18%;
}

.cat-wrap .cat-chart{
  width:78%;
}

/* Controls Formatting */
.cat-wrap .cat-controls{
  background:#99badd;
  margin: .5em;
  padding:.5em;
  border:1px solid #999;
  border-radius:1em;
}

.cat-wrap .cat-controls.hidden{
  display:none;
}

.cat-wrap .cat-controls h2{
  margin-top:0.1em;
  margin-bottom:0.1em;
}

.cat-wrap .cat-controls h3{
  margin-bottom:0;
}

.cat-wrap .cat-controls div{
  margin-bottom:.5em;
}


.cat-wrap .cat-controls button.submit{
  cursor: pointer;
  margin: auto;
  margin-bottom:1em;
  display:block;
  width: 50%;
  color:black;
  border:none;
  border-radius:3px;
  padding:0.5em;
  font-size:1.2em;
  background-color:white;
  border:2px solid #7BAFD4;
}

.cat-wrap .cat-controls button.submit:hover{
  background-color:#7BAFD4;
  color:white;
}

/* json-schema form formatting */
.help-inline{
  font-size:0.7em;
  color:#fff;
  display:block;
}

.help-block{
  color:red;
  display:block;

}
