body{
  background:#bbb;
  margin:1em;
}

div.testWrap, #big-one{
  border:2px solid black;
  background:white;
  padding:1em;
  margin:1em 5em 1em 5em;
}

div.testWrap .chart{
  border:1px dotted #444;
  margin:1em;
  padding:1em;
}

div.testWrap .chart, div.testWrap .notes{
  display:inline-block;
}

div.testWrap .notes{
  width:350px;
  vertical-align:top;
  margin:1em;
}

div.testWrap .notes div{
padding-top:.5em;
}

div.testWrap h2, div.testWrap .notes div ul{
  margin-top:0
}


.hidden{
  display:none
}

div.versionSelect{
  padding:0.5em;
  background:white;
  border:1px solid #999;
  border-radius: 5px;
  margin-bottom:1em

}
div.versionSelect *{
  margin-right:1em
}

span.error{
  padding:0.5em;
  background:pink;
  border:2px solid red;
  border-radius: 5px;

}

div#big-one{
  width:1100px;
}
